ul.navigation {
  list-style: none;

  li.menu-item {
    width: 100%;

    &:hover {
      background-color: $frosted-blue;
    }

    span.menu-item-icon {
      font-size: 20px;
      margin-right: 6px;
    }

    a {
      text-decoration: none;
      color: $default-text-color;
      display: block;
      padding: 0.25rem;

      svg {
        height: 16px;
        fill: black;
        display: inline-block;
      }
    }
  }
}
