@import "variables";
@import "reset";
@import "layout";
@import "typography";
@import "navigation";

body {
  background: $body-background;
  padding: 1rem;

  // Add Noise
  // &::before {
  //   content: "";
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: $noise;
  //   opacity: 0.2;
  //   z-index: -1;
  //   pointer-events: none;
  // }
}

#fancy-gradient-bg {
background-color: hsla(333, 0%, 100%, 1);
    background-image: radial-gradient(circle at 0% 0%, hsla(64, 82%, 77%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 20% 0%, hsla(5, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 40% 0%, hsla(315, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 60% 0%, hsla(256, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 80% 0%, hsla(191, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 100% 0%, hsla(152, 77%, 74%, 0.35) 3%, transparent 40%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
}

.holy-grail-container {
  border-radius: $header-footer-border-radius;
  overflow: hidden;
  // box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

#CD {
    background-color: hsla(204, 0%, 100%, 1);
    background-image: radial-gradient(circle at 0% 0%, hsla(295, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 20% 0%, hsla(236, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 40% 0%, hsla(186, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 60% 0%, hsla(127, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 80% 0%, hsla(62, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 100% 0%, hsla(23, 77%, 74%, 0.35) 3%, transparent 40%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
}

header,
footer {
  background: transparent;
  padding: 1rem;
  text-align: center;
}

#left-column,
#right-column {
  background-color: #e4e4e4;
  padding: 0.5rem;
}

#main-content {
  background-color: #fff;
  padding: 1rem;
}


.minidisc-widget {
  width: 320px;
}